<div class="row">
  <h2>Skills</h2>
  <h4>Programming languages</h4>
   <!--Html-->
  <circle-progress
    [showUnits]="false"
    [title]="'HTML'"
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#a4c3b2'"
    [innerStrokeColor]="'#483500'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
   <!--CSS-->
   <circle-progress
   [showUnits]="false"
   [title]="'CSS'"
   [percent]="60"
   [radius]="100"
   [outerStrokeWidth]="8"
   [innerStrokeWidth]="5"
   [outerStrokeColor]="'#a4c3b2'"
   [innerStrokeColor]="'#483500'"
   [animation]="true"
   [animationDuration]="300"
></circle-progress>
   <!--C++-->
   <circle-progress
   [showUnits]="false"
   [title]="'C++'"
   [percent]="60"
   [radius]="100"
   [outerStrokeWidth]="8"
   [innerStrokeWidth]="5"
   [outerStrokeColor]="'#a4c3b2'"
   [innerStrokeColor]="'#483500'"
   [animation]="true"
   [animationDuration]="300"
></circle-progress>
   <!--JS-->
   <circle-progress
   [showUnits]="false"
   [title]="'JS'"
   [percent]="55"
   [radius]="100"
   [outerStrokeWidth]="8"
   [innerStrokeWidth]="5"
   [outerStrokeColor]="'#a4c3b2'"
   [innerStrokeColor]="'#483500'"
   [animation]="true"
   [animationDuration]="300"
></circle-progress>
   <!--MySQL-->
   <circle-progress
   [showUnits]="false"
   [title]="'MySQL'"
   [percent]="35"
   [radius]="100"
   [outerStrokeWidth]="8"
   [innerStrokeWidth]="5"
   [outerStrokeColor]="'#a4c3b2'"
   [innerStrokeColor]="'#483500'"
   [animation]="true"
   [animationDuration]="300"
></circle-progress>
</div>