<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Michis Licenciados - OO9.jpeg" alt="foto-perfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p>Mateo Casas Eacjney</p>
        <p>"Full Stack Develpolver" Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"></div>
    <span>
            <h2>about me</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Ipsum, optio delectus veniam est deleniti natus atque molestias laborum quia placeat vero,
                 soluta dolorum quidem itaque. Possimus omnis rerum ipsa delectus!</p>
    </span>

</div>